.search-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    .search-input{
        position: relative;
        
        .react-autosuggest__container {
            position: relative;
            margin: 20px;
        }
    
        .react-autosuggest__input {
            width: 300px;
            height: 22px;
            padding: 10px 20px;
            font-family: Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 300;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
    
        .react-autosuggest__input--focused {
            outline: none;
        }
    
        .react-autosuggest__input--open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        .react-autosuggest__suggestions-container {
            display: none;
        }
    
        .react-autosuggest__suggestions-container--open {
            display: block;
            position: absolute;
            top: 49px;
            left: 11px;
            width: 280px;
            border-top: 1px solid white;
            border-bottom: 1px solid #aaa;
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
            background-color: #fff;
            font-family: Helvetica, sans-serif;
            font-weight: 300;
            font-size: 16px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            z-index: 2;
        }
    
        .react-autosuggest__suggestions-list {
            list-style-type: none;
        }
    
        .react-autosuggest__suggestion {
            cursor: pointer;
            padding: 10px 20px;
        }
    
        .react-autosuggest__suggestion--highlighted {
            background-color: #ddd;
        }
    }
}
