.gif-container{
    width: 1450px;
    overflow-y: auto;
    position: relative;
    margin-top: 10px;
    

    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
    
    li {
        list-style-type: none;
        transition: opacity 0.4s;
    }

    img {
        transition: opacity 0.4s;
    }
}

@media screen and (max-width: 1440px){
    .gif-container{
        width: 1224px;
    }
}

@media screen and (max-width: 1236px){
    .gif-container{
        width: 1020px;
    }
}

@media screen and (max-width: 1032px){
    .gif-container{
        width: 816px;
    }
}

@media screen and (max-width: 828px){
    .gif-container{
        width: 612px;
    }
}


@media screen and (max-width: 624px){
    .gif-container{
        width: 408px;
    }
}

@media screen and (max-width: 420px){
    .gif-container{
        width: 204px;
    }
}